<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Турнирная таблица</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<h1>Турнирная таблица</h1>
<table id="table">
    <thead>
      <tr>
        <th>№ <button src="images/sort.png" alt="" style="vertical-align:middle" onclick="sort(0)">sort</button></th>
        <th>Команда <button src="images/sort.png" alt="" style="vertical-align:middle" onclick="sort(1)">sort</button></th>
        <th>И</th>
        <th>В</th>
        <th>Н</th>
        <th>П</th>
        <th>Мячи</th>
        <th>О <button src="images/sort.png" alt="" style="vertical-align:middle" onclick="sort(7)">sort</button></th>
        <th>К</th>
      </tr>
    </thead>
  <tbody>
      <tr th:each="team : ${teams}">
        <td th:text="${team.teamId}"></td>
        <td th:text="${team.name}"></td>
        <td th:text="${team.games}"></td>
        <td th:text="${team.win}"></td>
        <td th:text="${team.draw}"></td>
        <td th:text="${team.lose}"></td>
        <td th:text="${team.balls}"></td>
        <td th:text="${team.points}"></td>
        <td><a th:href="@{/increment/{id}(id=${team.teamId})}">Прибавить</a></td>
        <td th:text="${team.clickCount}"></td>
        <td><a th:href="@{/decrement/{id}(id=${team.teamId})}">Убавить</a></td>
        <td>
      </tr>
  </tbody>
</table>
<script src="sort.js"></script>
</body>
</html>
